.listContainer {
  padding: 1.5rem;
  border-radius: 8px;
  margin-top: 1rem;
  background: #2c2c2c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.tareaList {
  list-style: none;
  padding: 0;
}

.tareaItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: #1e1e1e;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.completada {
  color: green;
  font-weight: bold;
}

.pendiente {
  color: orange;
  font-weight: bold;
}
